@import "tailwindcss";

:root {
  --background: #09122C;
  --foreground: #171717;
  --foreground-dark: #504B38;
  --custom-light: #EFEFEF;
  --custom-light-secondary: #EBE5C2;
  --custom-dark: #09122C;
  --custom-dark-secondary: #504B38;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09122C;
    --foreground: #ededed;
  }
}

body {
  color: var(--custom-dark);
  background: var(--custom-light);
  font-family: Arial, Helvetica, sans-serif;
}

/**
 * Ant overwrites for form with dark background 
 */
.ant-menu-title-content {
  @apply text-xl;
}

.ant-menu-item-icon {
  @apply text-xl; 
}

.ant-form-item-label > label {
  color: var(--custom-light) !important ;
}

.ant-checkbox-label {
  color: var(--custom-light) !important ;
}

.ant-radio-label {
  color: var(--custom-light) !important ;
}

.ant-upload {
  color: var(--custom-light) !important ;
}


